@model Survey
@{
    int UserId = Convert.ToInt32(User.Identity.Name);
    double oran = Math.Round((((double)Model.numberOfYes / (double)Model.numberOfConfirmation) * 100),2);
   

}
<div class="card w-100">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h3 class="card-title">@Model.Title</h3>
            </div>
            <div class="col-2"></div>
            <div class="col-4">

                <h6 class="card-title">Son tarih: @Model.Deadline</h6>
            </div>
        </div>

        <p class="card-text">@Model.Detail</p>

        
        <form style="padding:10px" asp-action="CreateResponse" asp-controller="Response" asp-route-surveyid="@Model.Id" method="post">

            <button type="submit" class="btn btn-primary">Oyla</button>
            <span class="cart-item"></span>

        </form>

        <div  class="progress">
            <div class="progress-bar" role="progressbar" style="width: @oran%; " aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">@oran %</div>
        </div>



    </div>
</div>


