@model IEnumerable<Survey>
@{
    ViewData["Title"] = "Home Page";
}


@{
    int UserId = Convert.ToInt32(User.Identity.Name);

}


<div class="row">
    @foreach (var item in Model)
    {


        @if ((item.Responses.FirstOrDefault(x => x.UserId == UserId)) != null)
        {
            <div class="col-12" style="padding:10px">
                <partial name="_AnsweredSurveyCard" model="item" />
            </div>
        }


    }
</div>
<ul class="pagination">


    @for (int i = 1; i <= ViewBag.totalPages; i++)
    {
        <li class="page-item"><a class="page-link" asp-action="AnsweredSurvey" asp-controller="Home" asp-route-page="@i" >@i</a></li>
    }

</ul>