@model IEnumerable<Survey>
@{
    ViewData["Title"] = "ApprovedSurvey";
}

<div class="row">
    @foreach (var item in Model)
    {


        @if (item.numberOfYes==item.numberOfConfirmation)
        {
            <div class="col-12" style="padding:10px">
                <partial name="_TimeOutSurveyCard" model="item" />
            </div>
        }


    }
</div>

<ul class="pagination">


    @for (int i = 1; i <= ViewBag.totalPages; i++)
    {
<li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Home" asp-route-page="@i" >@i</a></li>
}

</ul>